<div class="home-container">
    <app-banner></app-banner>

    <div class="home-feed-container">
        <app-about-us></app-about-us>

        <app-short-menu></app-short-menu>
    </div>

    <div class="home-timetable">
        <div class="time-item">
            <div class="time-img breakfast"> </div>
            <p class="time-title">Breakfast</p>
            <p class="time-quote">8.00 am - 10.00 am</p>
        </div>

        <div class="time-item">
            <div class="time-img lunch"> </div>
            <p class="time-title">Lunch</p>
            <p class="time-quote">12.00 am - 2.00 pm</p>
        </div>

        <div class="time-item">
            <div class="time-img dinner"> </div>
            <p class="time-title">Dinner</p>
            <p class="time-quote">7.00 pm - 10.00 pm</p>
        </div>

        <div class="time-item">
            <div class="time-img snacks"> </div>
            <p class="time-title">Snacks</p>
            <p class="time-quote">All time</p>
        </div>
    </div>

    <app-carousel></app-carousel>
   
</div>