<div class="aboutUs-container">
  <h1 class="aboutUs-header">About Us</h1>
  <p class="sub-header">
    Restoring authenticity to food from the ground up is the missioin that
    drives us.
    <br />
    Restauration is the realization of a dream.
  </p>

  <div class="content-box">
    <div class="about-banner"></div>
    <div class="about-content">
      <div class="about-title">Since 1987, at your service</div>
      <div class="about-desc">
        At <b>Soru</b>, we believe that every meal should be a celebration of flavors, culture, and tradition. Nestled in the heart of South India, our restaurant is a vibrant tapestry of culinary heritage, where spices dance, and aromas weave stories of generations past.
        <br>
        <br>
        Our journey began with a simple idea: to share the soul-soothing goodness of South Indian cuisine with food enthusiasts from all walks of life. From the bustling streets of Chennai to the serene backwaters of Kerala, we’ve explored every nook and cranny to bring you authentic flavors that evoke memories and create new ones.
      </div>
      <button class="about-read">Read More</button>
    </div>
  </div>
</div>
