<div class="verify-container">
    <div class="verify-banner"></div>
    <div class="verify-form">
        <h1 class="verify-title">Verify Code</h1>
        <p class="verify-info">Enter your verification code from your email or phone number that we’ve sent
        </p>

        <form class="mt-8 w-full md:w-[400px]" (ngSubmit)="onSubmit()">

                <div class="w-[80%] my-6 mx-auto">
                    <p-inputOtp [(ngModel)]="otp" [integerOnly]="true" name="otp" />
                </div>
            
            <button type="submit" title="Login" class="mt-8 mx-0 btn-primary btn-large btn-rounded">Send Code</button>

        </form>
    </div>
</div>