<div class="w-screen bg-amber-400 h-8 flex justify-between items-center px-3">
  <div class="flex items-center w-[65%]">
    <p class="flex items-center text-sm mr-5">
      <span class="material-icons-round text-2xl mr-2"> call </span>
      <span>+91 9042127018</span>
    </p>

    <p class="sm:flex items-center text-sm hidden mr-5">
      <span class="material-icons text-2xl mr-2"> room </span>
      <span> Lorem ipsum dolor sit amet. </span>
    </p>

    <p class="lg:flex items-center text-sm hidden mr-5">
      <span class="material-icons text-2xl mr-2"> email </span>
      <span>soru&commat;info.com</span>
    </p>
  </div>
  <div class="flex">
    <p class="flex items-center text-sm">
      <span class="material-icons text-2xl mr-2"> person </span>
      <span> Account </span>
    </p>
  </div>
</div>

<div class="w-screen flex justify-center items-center transition-all px-3 py-4" [ngClass]="isFixed ? 'fixed top-0 left-0 bg-zinc-700 drop-shadow-md' : 'absolute' ">
  <img src="../../../assets/logo_big.svg" alt="">
  <ul>
    <li class="font-semibold mr-2">Home</li>
    <li class="font-semibold mr-2">Menu</li>
    <li class="font-semibold mr-2">About Us</li>
  </ul>
</div>

