<div class="about-container">
    <app-banner type="small" title="About Us"></app-banner>

    <div class="about-wrapper">
        <h1 class="about-title">
            The History
        </h1>

        <div class="about-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tenetur quia, labore reprehenderit
            aliquam suscipit deserunt nisi impedit repellendus, eligendi, fugit a officiis ullam iusto ea ex natus alias
            officia sed exercitationem excepturi pariatur. Temporibus perspiciatis consequuntur ipsum nemo quae
            reprehenderit cum quasi eius autem iure? Sit voluptatem commodi earum!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit quas dolore temporibus aut laboriosam
            molestiae, itaque eius maiores aliquid mollitia? Ullam vero dolor tempore deleniti consequuntur, assumenda
            illum beatae temporibus saepe qui rem voluptatibus, asperiores, quasi praesentium? Odit ex dolor
            dignissimos, veniam quisquam totam enim voluptas, quod doloribus non praesentium.
        </div>

        <div class="about-story">
            <div class="story-banner"></div>
            <div class="story-wrapper">
                <h2>Our Story</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, possimus sed. Facere, ipsum?
                    Laudantium totam vitae dolore iure necessitatibus similique nulla sequi suscipit atque, repudiandae
                    adipisci esse! Dolore temporibus mollitia possimus unde voluptatem ad, neque nisi aliquam cumque
                    fugiat sit qui error sunt eum. Ab nobis autem veniam dolores, laborum soluta mollitia nam doloribus,
                    sapiente, neque ratione tenetur? Quia, cumque corrupti quasi asperiores id atque culpa sequi placeat
                    iste. Atque, esse id? Voluptate cupiditate ab non, quae distinctio debitis consectetur illum soluta
                    placeat iure mollitia nulla incidunt cumque delectus. Fugiat dolores assumenda eos quae quo aliquid
                    asperiores ipsum exercitationem et, quisquam dolor provident eius recusandae reiciendis. 
                </p>
            </div>
        </div>

        <hr>

        <div class="about-since">
            <div class="since-wrapper">
                <h2>Since 1997</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, possimus sed. Facere, ipsum?
                    Laudantium totam vitae dolore iure necessitatibus similique nulla sequi suscipit atque, repudiandae
                    adipisci esse! Dolore temporibus mollitia possimus unde voluptatem ad, neque nisi aliquam cumque
                    fugiat sit qui error sunt eum. Ab nobis autem veniam dolores, laborum soluta mollitia nam doloribus,
                    sapiente, neque ratione tenetur? Quia, cumque corrupti quasi asperiores id atque culpa sequi placeat
                    iste. Atque, esse id? Voluptate cupiditate ab non, quae distinctio debitis consectetur illum soluta
                    placeat iure mollitia nulla incidunt cumque delectus. Fugiat dolores assumenda eos quae quo aliquid
                    asperiores ipsum exercitationem et, quisquam dolor provident eius recusandae reiciendis. 
                </p>
            </div>

            <div class="since-banner"></div>

        </div>

        <hr>

        <div class="work-hours">
            <p class="work-head">Working Hours</p>
            <p>Praesent sit amet ex vel lectus cursus vehicula vitae nec purus. Pellentesque eu augue tempor, mattis ante id, ullamcorper neque. Suspendisse scelerisque vestibulum dapibus. Proin condimentum, enim non luctus feugiat, est libero volutpat mauris, ut tristique nunc magna tincidunt erat.</p>

            <div class="flex flex-col md:flex-row mt-8 justify-between">
                <div class="flex flex-col items-center w-1/2 border-r-[1px] border-[#626262] border-opacity-70">
                    <div class="flex items-center gap-8">
                        <p class="px-6 py-1 text-white bg-[#626262] rounded-full">Monday</p>
                        <p>to</p>
                        <p class="px-6 py-1 text-white bg-[#626262] rounded-full">Friday</p>
                    </div>
                    <p class="text-amber-400 flex items-center mt-8">
                        <span class="material-icons-outlined pr-4">schedule</span>
                        <span>08AM - 10PM</span>
                    </p>
                </div>

                <div class="flex flex-col items-center w-1/2">
                    <div class="flex items-center gap-8">
                        <p class="px-6 py-1 text-white bg-[#626262] rounded-full">Saturday</p>
                        <p>&</p>
                        <p class="px-6 py-1 text-white bg-[#626262] rounded-full">Sunday</p>
                    </div>
                    <p class="text-amber-400 flex items-center mt-8">
                        <span class="material-icons-outlined pr-4">schedule</span>
                        <span>11AM - 08PM</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="accomadation">
            <p class="acc-head">Accommodation Details</p>
            <p>Praesent sit amet ex vel lectus cursus vehicula vitae nec purus. Pellentesque eu augue tempor, mattis ante id, ullamcorper neque. </p>

            <div class="flex flex-wrap justify-between">
                <div class="acc-pill">
                    <div class="pill-label">
                        2 Seating
                    </div>
                    <div class="pill-value">
                        20
                    </div>
                </div>

                <div class="acc-pill">
                    <div class="pill-label">
                        4 Seating
                    </div>
                    <div class="pill-value">
                        12
                    </div>
                </div>

                <div class="acc-pill">
                    <div class="pill-label">
                        6 Seating
                    </div>
                    <div class="pill-value">
                        12
                    </div>
                </div>

                <div class="acc-pill">
                    <div class="pill-label">
                        Family Seating
                    </div>
                    <div class="pill-value">
                        7
                    </div>
                </div>

                <div class="acc-pill">
                    <div class="pill-label">
                        Business Meet
                    </div>
                    <div class="pill-value">
                        4
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-12 px-12">
        <div class="">
            <h2 class="service-head">Our Services</h2>
            <p class="text-center">This is what we do and we do it perfectly.</p>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-8 justify-items-center">
            <div class="shadow-xl rounded-lg bg-[#353535] flex flex-col items-center justify-around px-2 py-2 w-[220px] h-[140px] text-amber-400 ">
                <span class="material-icons-outlined text-5xl">lunch_dining</span>
                <span>Fresh Healthy Food</span>
            </div>

            <div class="shadow-xl rounded-lg bg-amber-400 flex flex-col items-center justify-around px-2 py-2 w-[220px] h-[140px] text-[#353535] ">
                <span class="material-icons-outlined text-5xl">local_shipping</span>
                <span>Fast Home Delivery</span>
            </div>

            <div class="shadow-xl rounded-lg bg-[#353535] flex flex-col items-center justify-around px-2 py-2 w-[220px] h-[140px] text-amber-400 ">
                <span class="material-icons-outlined text-5xl">local_activity</span>
                <span>Discount Voucher</span>
            </div>

            <div class="shadow-xl rounded-lg bg-amber-400 flex flex-col items-center justify-around px-2 py-2 w-[220px] h-[140px] text-[#353535] ">
                <span class="material-icons-outlined text-5xl">timer</span>
                <span>On Time Service</span>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
    
</div>