<div class="menu-container">
    <app-banner type="small" title="Menu"></app-banner>

    <section class="menu-wrapper">
        <div class="mask">
            <form class="w-full sm:w-1/2 md:w-1/3" (submit)="onSearch()">
                <label class="search-wrapper">
                    <span class="material-icons search-icon">
                        search
                    </span>
                    <input class="search-input" placeholder="Search for anything..." [(ngModel)]="search" (ngModelChange)="onSearch()" type="text" name="search"/>
                </label>
            </form>

            <div class="categories">
                <p-tabMenu [model]="categories" [(activeItem)]="activeCategory"  />
            </div>

            <div class="w-full">
                <app-menu-list [category]="activeCategory.name" [filterBy]="search"></app-menu-list>
            </div>
        </div>
    </section>

    <app-footer [feedback]="true"></app-footer>
</div>
