.menu-wrapper{
    @apply w-full bg-cover bg-no-repeat p-2 md:p-6 bg-center;
    background-image: url('../../../assets/bg_1.jpg');

    .mask{
        @apply w-full h-full bg-black bg-opacity-50 p-4 flex flex-col items-center justify-center;

        .search-wrapper{
            @apply relative block;

            .search-icon{
                @apply text-[#8A8A8D] absolute inset-y-0 left-0.5 flex items-center pl-2;
            }

            .search-input{
                @apply placeholder:italic placeholder:text-[#8A8A8D] block bg-[#4C4C4C] text-[#b3b3b3] w-full border border-[#8a8a8a] rounded-xl py-1.5 pl-10 pr-3 shadow-sm focus:outline-none focus:border-gray-400 focus:ring-gray-400 focus:ring-1 sm:text-sm;
            }
        }

        .categories{
            @apply mt-8;
        }


        .p-tabmenu-nav{
            @apply flex-wrap;
        }

        .menu-items-wrapper{
            @apply w-full p-8 flex flex-wrap justify-between gap-4;

            .menu-item{
                @apply bg-no-repeat bg-cover w-60 h-60;

                .mask{
                    @apply w-full h-full bg-black bg-opacity-50 flex flex-col items-stretch justify-between;
                }

                .recipe-title{
                    @apply text-amber-400 font-bold text-lg;
                  }
                
                  .recipe-detail{
                    @apply text-xs font-light mt-2 text-white truncate;
                  }
                
                  .veg{
                    @apply mt-2 border-2 border-green-500 w-4 h-4 flex justify-center items-center after:content-[''] after:block after:h-2 after:w-2 after:bg-green-500  after:rounded-full;
                  }
                  .nonveg{
                    @apply mt-2 border-2 border-red-500 w-4 h-4 flex justify-center items-center after:content-[''] after:block after:h-2 after:w-2 after:bg-red-500  after:rounded-full;
                  }
                
                  .rating{
                    @apply text-amber-400 mt-2 text-sm;
                
                    span{
                        @apply text-lg;
                    }
                  }
            }
        }
    }
}

.menu-item-list{
    display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.label{
    white-space: nowrap;
}

.dash{
    @apply w-full mx-4 opacity-50;
    height: 30%;
    background-image: url('../../../assets/dash.svg');
    background-size: 10px;
    background-position: center;
    
}

.price {
    white-space: nowrap;
  }