<div class="footer-container">
    <div class="footer-head">
        <p>
            <span class="material-icons-round call-icon">call</span>
        </p>
        <p class="call-content">
            <span class="call-title">Call us now</span>
            <br>
            <span class="call-number">(+91) 904 212 7018</span>
        </p>
        <button class="btn-secondary btn-lg">
            Get in Touch
        </button>
    </div>

    <div class="footer-body">
        <div class="footer-mask">
            <div class="footer-about">
                <button class="logo"></button>
                <p class="w-full text-sm text-light text-white">
                    Welcome to our South Indian restaurant, where tradition meets flavor! Indulge in a diverse menu
                    featuring authentic dishes like dosa, idli, and curry, all made with fresh ingredients. Enjoy a
                    warm, inviting ambiance perfect for family gatherings or casual dining.
                </p>

                <section class="mt-8">
                    <p class="sm:flex items-center text-sm hidden mr-5">
                        <span class="material-icons text-xl mr-2 text-amber-400"> room </span>
                        <span class="text-white text-sm"> 7797 Pooja Avenue, Kandanchavadi, Chennai </span>
                    </p>
                    <p class="flex items-center text-sm mr-5 mt-4">
                        <span class="material-icons-round text-xl mr-2 text-amber-400"> call </span>
                        <span class="text-white text-sm">+91 9042127018</span>
                    </p>
                    <p class="flex items-center text-sm mr-5 mt-4">
                        <span class="material-icons text-xl mr-2 text-amber-400"> email </span>
                        <span class="text-white text-sm">soru&commat;info.com</span>
                    </p>
                    <p class="flex items-center text-sm mr-5 mt-4">
                        <span class="material-icons-round text-xl mr-2 text-amber-400"> watch_later </span>
                        <span class="text-white text-sm">Mon - Sun / 9:00AM - 10:00PM</span>
                    </p>
                </section>

                <div class="flex"></div>
            </div>

            <div class="footer-access">
                <h1 class="access-head">Quick Access</h1>

                <ul>
                    <li class="access-link"><a>Menu</a></li>
                    <li class="access-link"><a>Reservation</a></li>
                    <li class="access-link"><a>Contact us</a></li>
                    <li class="access-link"><a>About us</a></li>
                    <li class="access-link"><a>Cart</a></li>
                    <li class="access-link"><a>Terms & Condition</a></li>
                </ul>
            </div>

            <div class="footer-location">
                <h1 class="location-head">Our Location</h1>
                <div class="location-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d260.72030615128375!2d80.24680084598532!3d12.970366825172869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d6c58521453%3A0xc14d8d56c1d3f575!2z4K614K6_4K6V4K-N4K6p4K-H4K634K-NIOCuteCuv-Cun-CvgeCupOCuvyDgrobgrqPgr43grpXgrrPgr40!5e1!3m2!1sta!2sin!4v1726164048172!5m2!1sta!2sin"
                        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-disclaimer">
        <hr class="my-2">
    </div>
</div>