<div class="forgot-container">
    <div class="forgot-banner"></div>
    <div class="forgot-form">
        <h1 class="forgot-title">Forgot Password</h1>
        <p class="forgot-info">Enter your Email or Mobile number,
            <br> 
            we will send you a verification code.
        </p>

        <div class="my-6 w-full">
            <p-selectButton [options]="stateOptions" [(ngModel)]="value"  optionLabel="label" optionValue="value" />
        </div>

        <form class="mt-8 w-full md:w-[400px]" (ngSubmit)="onSubmit()">

            @if (value == 'email') {

                <div class="w-full my-6">
                    <p-floatLabel>
                        <input class="soru-input" pInputText id="email" [(ngModel)]="email" name="email" />
                        <label for="email">Email*</label>
                    </p-floatLabel>
                </div>

            }@else if (value == 'mobile') {
                <div class="w-full my-6">
                    <p-floatLabel>
                        <p-inputNumber [(ngModel)]="mobile" name="mobile" mode="decimal" [useGrouping]="false" />
                        <label for="number-input">Mobile Number*</label>
                    </p-floatLabel>
                </div>
            }
            
            <button type="submit" title="Login" class="mt-8 mx-0 btn-primary btn-large btn-rounded">Send Code</button>

        </form>
    </div>
</div>