<div class="menu-list">
    <p-dataView #dv [value]="filteredData" [rows]="10" [paginator]="true" [first]="first" [layout]="activeLayout.name">

        <ng-template pTemplate="header">
            <div class="flex flex-col md:flex-row justify-between items-center">
                <div class="layout-wrapper">
                    <p-tabMenu [model]="layouts" [(activeItem)]="activeLayout">
                        <ng-template pTemplate="item" let-item>
                            <button class="layout-item" [ngClass]="item.name">
                            </button>
                        </ng-template>
                    </p-tabMenu>
                </div>
                <p-paginator [rows]="5" [first]="first" [totalRecords]="filteredData.length" (onPageChange)="onPage($event)" />
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="flex flex-col-reverse md:flex-row justify-between items-center">
                <div class="layout-wrapper">
                    <p-tabMenu [model]="layouts" [(activeItem)]="activeLayout">
                        <ng-template pTemplate="item" let-item>
                            <button class="layout-item" [ngClass]="item.name">
                            </button>
                        </ng-template>
                    </p-tabMenu>
                </div>

                <p-paginator [rows]="5" [first]="first" [totalRecords]="filteredData.length" (onPageChange)="onPage($event)" />
            </div>
        </ng-template>

        <ng-template pTemplate="list" let-products>
            <div class="grid">
                <div class="col-12 mb-2" *ngFor="let item of products; let first = first" >
                    <div class="flex flex-col md:flex-row md:items-center p-4 gap-3 bg-zinc-800 rounded">
                        <div class="md:w-[10rem] relative">
                            <img class="mx-auto rounded-md w-full opacity-75" [src]="item.imgSrc"
                                [alt]="item.title" />
                        </div>
                        <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-4">
                            <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                <div>
                                    <h1 class="font-bold text-amber-400 text-2xl my-2">{{item.title | titlecase}}</h1>
                                    <div [class]="item.type"></div>
                                </div>
                                <div class="surface-100 p-1" style="border-radius: 30px">
                                    <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
                                        style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                        <span class="text-900 font-medium text-sm">{{ item.rating }}</span>
                                        <i class="pi pi-star-fill text-amber-500"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-row justify-between md:flex-col items-center gap-5">
                                <span class="text-xl font-semibold text-900 text-amber-400">{{ item.price }}</span>
                                <div class="flex justify-end">
                                    <button class="quick_icons" (click)="addFav(item)">
                                        @if(isFav(item)){
                                            <span class="material-icons-round  text-amber-400"> favorite </span>
                                          }@else {
                                            <span class="material-icons-round"> favorite_border </span>
                                          }
                                    </button>
                                    <button class="quick_icons" (click)="addCart(item)">
                                      <span class="material-symbols-rounded"> shopping_cart </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="grid" let-products>
            <div class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-6 md:p-4">
                @for(prod of products; track prod; let i = $index){
                    <div class="border-[1px] border-gray-700 rounded-lg relative">
                        <img class="w-full aspect-square rounded-lg " [src]="prod.imgSrc" alt="">
                        <div class="absolute top-0 bg-black bg-opacity-60 w-full h-full p-2 rounded-lg flex flex-col justify-between">
                            <div class="relative">
                                <h1 class="font-bold text-amber-400 text-xl md:text-2xl my-2">{{prod.title | titlecase}}</h1>
                                <p class="recipe-detail">
                                    @for (rep of prod.recipe; track $index; let ind = $index; let first = $first) {
                                        @if(!first){
                                            <span>, </span>
                                        } 
                                        <span>{{rep}}</span>
                                       
                                    }
                                </p>
                                <p>
                                    @for(tag of prod.tags; track tag){
                                        <span class="mr-1 opacity-60">
                                            <p-tag severity="secondary" [value]="tag" />
                                        </span>
                                    }
                                </p>
                                <div [class]="prod.type"></div>
                                <p class="rating">
                                    @for (rate of [].constructor(prod.ratings); track $index) {
                                        <span class="material-icons"> star </span>
                                    }
                                </p>
                            </div>

                            <div class="flex justify-end absolute bottom-0 right-0">
                                <button class="quick_icons" (click)="addFav(prod)">
                                  @if(isFav(prod)){
                                    <span class="material-icons-round text-amber-400"> favorite </span>
                                  }@else {
                                    <span class="material-icons-round "> favorite_border </span>
                                  }
                                </button>
                                <button class="quick_icons hidden md:block" (click)="addCart(prod)">
                                    @if(isCart(prod)){  
                                        <span class="material-icons-round text-amber-400">shopping_cart</span>
                                    } @else{
                                        <span class="material-symbols-rounded"> shopping_cart </span>
                                    }
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            
        </ng-template>

    </p-dataView>
</div>