<div class="signup-container">
    <div class="signup-banner"></div>
    <div class="signup-form">
        <h1 class="signup-title">Register</h1>
        <p class="signup-info">If you already have an account? 
            <br> You can 
            <span>
                <a class="signup-link" routerLink="/login">Login here !</a>
            </span>
        </p>

        <form class="mt-8 w-full md:w-[400px]" (ngSubmit)="onSubmit()">
            <div class="w-full">
                <p-floatLabel>
                    <input class="soru-input" pInputText id="email" [(ngModel)]="email" name="email" />
                    <label for="email">Email*</label>
                </p-floatLabel>
            </div>

            <div class="w-full my-6">
                <p-floatLabel>
                    <input class="soru-input" pInputText id="name" [(ngModel)]="username" name="email" />
                    <label for="name">Username*</label>
                </p-floatLabel>
            </div>

            <div class="w-full my-6">
                <p-floatLabel>
                    <p-inputNumber [(ngModel)]="mobile" name="mobile" mode="decimal" [useGrouping]="false" />
                    <label for="number-input">Phone*</label>
                </p-floatLabel>
            </div>
            
            <div class="w-full my-6">
                <p-floatLabel>
                    <p-password [(ngModel)]="password" name="password" [toggleMask]="true" [feedback]="false"/>
                    <label for="name">Password*</label>
                </p-floatLabel>
            </div>

            <div class="w-full my-6">
                <p-floatLabel>
                    <p-password [(ngModel)]="confirmpassword" name="password" [toggleMask]="true" [feedback]="false"/>
                    <label for="name">Confirm Password*</label>
                </p-floatLabel>
            </div>


            <button type="submit" title="Login" class="mt-8 mx-0 btn-primary btn-large btn-rounded">Register</button>
        </form>
    </div>
</div>