<div class="pswdcng-container">
    <h1 class="title" title="Password Change">Password Change</h1>

    <form [formGroup]="pswdForm" class="flex flex-col gap-10 mt-8" (ngSubmit)="onSubmit()">
        <div class="w-full">
            <p-floatLabel>
                <p-password formControlName="old" name="old" [toggleMask]="true" [feedback]="false"/>
                <label for="name">Old Password*</label>
            </p-floatLabel>

            @if((pswdForm.get('old')?.touched || pswdForm.get('old')?.dirty) && pswdForm.get('old')?.errors){
                @if (!pswdForm.get('old')?.value) {
                    <p class="error-text">Old Password is required*</p>
                } @else {
                    <p class="error-text">Minimum 6 Characters with atleast 1 Uppercase, 1 Numerical</p>
                }
            }
            
        </div>

        <div class="w-full">
            <p-floatLabel>
                <p-password formControlName="new" name="new" [toggleMask]="true" [feedback]="false"/>
                <label for="name">New Password*</label>
            </p-floatLabel>
            @if((pswdForm.get('new')?.touched || pswdForm.get('new')?.dirty) && pswdForm.get('new')?.errors){
                @if (!pswdForm.get('new')?.value) {
                    <p class="error-text">New Password is required*</p>
                } @else {
                    <p class="error-text">Minimum 6 Characters with atleast 1 Uppercase, 1 Numerical</p>
                }
            }
        </div>

        <div class="w-full">
            <p-floatLabel>
                <p-password formControlName="confirm" name="confirm" [toggleMask]="true" [feedback]="false"/>
                <label for="name">Confirm New Password*</label>
            </p-floatLabel>

            @if((pswdForm.get('confirm')?.touched || pswdForm.get('confirm')?.dirty) && pswdForm.get('confirm')?.errors){
                @if (!pswdForm.get('confirm')?.value) {
                    <p class="error-text">Please confirm new passeord*</p>
                }
            }

            @if(pswdForm.get('confirm')?.value && pswdForm.controls['confirm'].value != pswdForm.controls['new'].value){
                <p class="error-text">Passwords do not match</p>
            }
        </div>

        <button type="submit" class="btn-primary w-fit mx-0">Update Password</button>
    </form>
</div>

<p-toast />