<div class="cart-container">
    <app-banner type="small" title="Cart List"></app-banner>
        <div class="cart-wrapper">
            <p-table #dt [value]="common.cartList()"
            [rows]="10"
            [paginator]="true"
            [globalFilterFields]="['title', 'type', 'price', 'stock']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [(selection)]="selectedProducts"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
        >
            <ng-template pTemplate="caption">
                <div class="flex items-center justify-between">
                    <h5 class="m-0 text-2xl"></h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input 
                            class="pl-10 text-sm"
                            pInputText 
                            type="text" 
                            [(ngModel)]="filter"
                            (input)="dt.filterGlobal(filter, 'contains')" 
                            placeholder="Search..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 10rem">
                        <div class="flex items-center gap-4">
                            <p-tableHeaderCheckbox />
                            Select All
                        </div>
                    </th>
                    <th pSortableColumn="name">
                       <div class="flex items-center">
                            Name <p-sortIcon field="name" />
                       </div>
                    </th>
                    <th>
                        Image
                    </th>
                    <th pSortableColumn="price">
                        <div class="flex items-center">
                            Price <p-sortIcon field="price" />
                        </div>
                    </th>
                    <!-- <th pSortableColumn="category" style="min-width:10rem">
                        <div class="flex items-center">
                            Category <p-sortIcon field="category" />
                        </div>
                    </th> -->
                    <!-- <th pSortableColumn="rating">
                        <div class="flex items-center">
                            Reviews <p-sortIcon field="rating" />
                        </div>
                    </th> -->
                    <th pSortableColumn="inventoryStatus" style="min-width:10rem">
                        <div class="flex items-center">
                            Status <p-sortIcon field="inventoryStatus" />
                        </div>
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="product" />
                    </td>
                    <td>
                        {{ product.title | titlecase}}
                    </td>
                    <td>
                    <img 
                        [src]="product.imgSrc" 
                        [alt]="product.title" 
                        width="100" 
                        class="shadow-lg rounded-md" />
                    </td>
                    <td>
                        {{ product.price  }}
                    </td>
                    <!-- <td>
                        {{ product.category }}
                    </td> -->
                    <!-- <td>
                        <p-rating 
                            [(ngModel)]="product.ratings" 
                            [readonly]="true" 
                            [cancel]="false"
                            [iconOnStyle]="{'fill':'red'}" />
                    </td> -->
                    <td>
                        <p-tag 
                            [value]="product.stock" 
                            [severity]="getSeverity(product)" />
                    </td>
                    <td>
                        <p-inputNumber 
                            [(ngModel)]="quantity" 
                            [showButtons]="true" 
                            buttonLayout="horizontal" 
                            inputId="horizontal" 
                            spinnerMode="horizontal" 
                            [step]="1"
                            [max]="10"
                            [min]="1"
                            incrementButtonIcon="pi pi-plus" 
                            decrementButtonIcon="pi pi-minus"/>
                    </td>
                    <td>
                        <!-- <p-button 
                            icon="pi pi-pencil" 
                            class="mr-2" 
                            [rounded]="true" 
                            [outlined]="true" 
                            severity="success" 
                            (onClick)="editProduct(product)" /> -->
                        <!-- <p-button 
                            icon="pi pi-trash" 
                            severity="danger" 
                            [rounded]="true" 
                            [outlined]="true" 
                            (onClick)="deleteProduct(product)" /> -->
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex items-center justify-between">
                    In total there are {{ common.cartList() ? common.cartList().length : 0 }} products.
                </div>
            </ng-template>

            <ng-template pTemplate="emptymessage">
               <tr>
                    <td colspan="8">
                        <div class="w-full flex flex-col items-center justify-between my-10">
                            <p class="text-center">
                                <span class="material-symbols-outlined text-9xl">
                                    shopping_cart
                                </span>
                            </p>
                            <p class="text-center my-4">
                                No items added in this cart.
                            </p>
    
                            <button routerLink="/menu" class="btn-primary my-4">Countinue Shopping</button>
                        </div>
                    </td>
               </tr>
            </ng-template>
        </p-table>
        </div>
    <app-footer></app-footer>
</div>